<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title> HTML Email </title>
  <!--[if !mso]><!-- -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    p {
      display: block;
      margin: 13px 0;
    }
  </style>
  <!--[if mso]>
  <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
  <!--[if lte mso 11]>
  <style type="text/css">
    .mj-outlook-group-fix { width:100% !important; }
  </style>
  <![endif]-->
  <style type="text/css">
    @media only screen and (min-width:480px) {
      .mj-column-per-100 {
        width: 100% !important;
        max-width: 100%;
      }
    }
  </style>
  <style type="text/css">
    @media only screen and (max-width:480px) {
      table.mj-full-width-mobile {
        width: 100% !important;
      }
      td.mj-full-width-mobile {
        width: auto !important;
      }
    }
  </style>
  <style type="text/css">
    @media all and (max-width: 480px) {
      h2 {
        font-size: 1.8em !important;
      }
    }
  </style>
</head>

<body style="background-color:#FFFFFF;">
<div style="background-color:#FFFFFF;">
  <!--[if mso | IE]>
  <table
    align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:770px;" width="770"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->
  <div style="margin:0px auto;max-width:770px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
      <tbody>
      <tr>
        <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
          <!--[if mso | IE]>
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">

            <tr>
              <td
                class="" width="770px"
              >

                <table
                  align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:770px;" width="770"
                >
                  <tr>
                    <td  style="line-height:0;font-size:0;mso-line-height-rule:exactly;">
                      <v:image
                        style="border:0;mso-position-horizontal:center;position:absolute;top:0;width:770px;z-index:-3;" xmlns:v="urn:schemas-microsoft-com:vml"
                      />
          <![endif]-->
          <div style="margin:0 auto;max-width:770px;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
              <tr style="vertical-align:top;">
                <td style="background:#ffffff;background-position:center center;background-repeat:no-repeat;padding:0 3.5vw;vertical-align:top;" height="0">
                  <!--[if mso | IE]>
                  <table
                    border="0" cellpadding="0" cellspacing="0" style="width:770px;" width="770"
                  >
                    <tr>
                      <td  style="">
                  <![endif]-->
                  <div class="mj-hero-content" style="margin:0px auto;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;margin:0px;">
                      <tr>
                        <td style="">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;margin:0px;">
                            <tr>
                              <td align="left" style="font-size:0px;padding:0;word-break:break-word;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                  <tbody>
                                  <tr>
                                    <td style="width:300px;"> <img alt="logo" height="auto" src="{{ data.image }}" style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="300" /> </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <!--[if mso | IE]>
                  </td>
                  </tr>
                  </table>
                  <![endif]-->
                </td>
              </tr>
            </table>
          </div>
          <!--[if mso | IE]>
          </td>
          </tr>
          </table>

          </td>
          </tr>

          </table>
          <![endif]-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--[if mso | IE]>
  </td>
  </tr>
  </table>

  <table
    align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:770px;" width="770"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->
  <div style="background:#0f6aaf;background-color:#0f6aaf;margin:0px auto;max-width:770px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#0f6aaf;background-color:#0f6aaf;width:100%;">
      <tbody>
      <tr>
        <td style="direction:ltr;font-size:0px;padding:18px 0;text-align:center;">
          <!--[if mso | IE]>
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">

            <tr>
              <td
                class="" width="770px"
              >

                <table
                  align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:770px;" width="770"
                >
                  <tr>
                    <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          <![endif]-->
          <div style="margin:0px auto;max-width:770px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
              <tbody>
              <tr>
                <td style="direction:ltr;font-size:0px;padding:0 3.5vw;text-align:center;">
                  <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                      <td
                        class="" style="vertical-align:top;width:764px;"
                      >
                  <![endif]-->
                  <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                      <tr>
                        <td align="left" style="font-size:0px;padding:2px 0;word-break:break-word;">
                          <div style="font-family:'Source Sans Pro', sans-serif;font-size:18px;font-weight:700;letter-spacing:0.3em;line-height:1.2;text-align:left;text-transform:uppercase;color:#ffffff;">{{ data.header_slogan }}</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <!--[if mso | IE]>
                  </td>

                  </tr>

                  </table>
                  <![endif]-->
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--[if mso | IE]>
          </td>
          </tr>
          </table>

          </td>
          </tr>

          </table>
          <![endif]-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--[if mso | IE]>
  </td>
  </tr>
  </table>

  <table
    align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:770px;" width="770"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->
  <div style="margin:0px auto;max-width:770px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
      <tbody>
      <tr>
        <td style="direction:ltr;font-size:0px;padding:50px 0;text-align:center;">
          <!--[if mso | IE]>
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">

            <tr>
              <td
                class="" width="770px"
              >

                <table
                  align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:770px;" width="770"
                >
                  <tr>
                    <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          <![endif]-->
          <div style="margin:0px auto;max-width:770px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
              <tbody>
              <tr>
                <td style="direction:ltr;font-size:0px;padding:0 3.5vw;text-align:center;">
                  <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                      <td
                        class="" style="vertical-align:top;width:764px;"
                      >
                  <![endif]-->
                  <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                      <tr>
                        <td align="left" style="font-size:0px;padding:10px 0 0;word-break:break-word;">
                          <div style="font-family:'Source Sans Pro', sans-serif;font-size:18px;font-weight:400;letter-spacing:0.1em;line-height:28px;text-align:left;color:#676767;">{{ 'now'|date('d M Y') }}</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0px;padding:10px 0 1vw 0;word-break:break-word;">
                          <div style="font-family:'Source Sans Pro', sans-serif;font-size:18px;font-weight:400;line-height:28px;text-align:left;color:#434a54;">
                            <h2 style="color: #000; font-size:2.2em; font-weight: 700; line-height: 1; letter-spacing: 0.03em; margin: 0 0 10px;">{{ data.subject }}</h2>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0px;padding:0;word-break:break-word;">
                          <div style="font-family:'Source Sans Pro', sans-serif;font-size:18px;font-weight:400;line-height:28px;text-align:left;color:#434a54;">{{ data.body }}</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <!--[if mso | IE]>
                  </td>

                  </tr>

                  </table>
                  <![endif]-->
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--[if mso | IE]>
          </td>
          </tr>
          </table>

          </td>
          </tr>

          </table>
          <![endif]-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--[if mso | IE]>
  </td>
  </tr>
  </table>

  <table
    align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:770px;" width="770"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->
  <div style="background:#d9d9d9;background-color:#d9d9d9;margin:0px auto;max-width:770px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#d9d9d9;background-color:#d9d9d9;width:100%;">
      <tbody>
      <tr>
        <td style="direction:ltr;font-size:0px;padding:0;text-align:center;">
          <!--[if mso | IE]>
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">

            <tr>
              <td
                class="" width="770px"
              >

                <table
                  align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:770px;" width="770"
                >
                  <tr>
                    <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          <![endif]-->
          <div style="margin:0px auto;max-width:770px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
              <tbody>
              <tr>
                <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;">
                  <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                      <td
                        class="" style="width:770px;"
                      >
                  <![endif]-->
                  <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;">
                    <!--[if mso | IE]>
                    <table  role="presentation" border="0" cellpadding="0" cellspacing="0">
                      <tr>

                        <td
                          style="vertical-align:top;width:764px;"
                        >
                    <![endif]-->
                    <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tbody>
                        <tr>
                          <td style="vertical-align:top;padding:3px 0 0;">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%">
                              <tr>
                                <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                  <div style="font-family:'Source Sans Pro', sans-serif;font-size:16px;font-weight:400;line-height:1.2;text-align:center;color:#000000;">&copy;{{ 'now'|date('Y') }} {{ data.site_name }}. {{data.footer_text}}</div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--[if mso | IE]>
                    </td>

                    </tr>
                    </table>
                    <![endif]-->
                  </div>
                  <!--[if mso | IE]>
                  </td>

                  </tr>

                  </table>
                  <![endif]-->
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--[if mso | IE]>
          </td>
          </tr>
          </table>

          </td>
          </tr>

          </table>
          <![endif]-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--[if mso | IE]>
  </td>
  </tr>
  </table>
  <![endif]-->
</div>
</body>

</html>
